<!DOCTYPE html>
<html>
  <head>
    <title>All Article</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
  </head>
  <body class="bg-success-subtle">
    <header class="bg-info-subtle">
      <div
        class="d-flex justify-content-between py-3 align-items-baseline mx-5"
      >
        <h1 class="text-info">AltSpace</h1>
        <nav class="d-flex">
          <a class="mx-5" href="/register/logout"
            ><button class="btn btn-info">logout</button></a
          >
          <a href="/article/new"
            ><button class="btn btn-warning">Create Article</button></a
          >
        </nav>
      </div>
    </header>
    <main class="text-center mt-5">
      <h1 class="text-info mb-5">Article Detail</h1>
      <hr />
      <h2>Title:<%=article.title%></h2>
      <hr />
      <h2>Descreption: <%=article.descreption%></h2>
      <hr />
      <h3>Price:<%=article.price%></h3>
      <hr />
      <a class="mx-4" href="/article/<%=article._id%>"
        ><button class="btn btn-success">Edit</button>
      </a>
      <a href="/article/<%=article._id%>/delete"
        ><button class="btn btn-danger">Delete</button>
      </a>
    </main>
  </body>
</html>
